body{
font-family: Arial, sans-serif;
margin:0;
background:#f4f4f4;
}

.navbar{
display:flex;
justify-content:space-between;
background:#003366;
color:white;
cursor:default;
padding:15px;
align-items: center;
}

.navbar nav{
    margin-right:2%;
}

nav a{
color:white;
margin-left:15px;
text-decoration:none;
}

.hero{
text-align:center;
padding:80px;
background:linear-gradient(135deg,#2193b0,#6dd5ed);
color:white;
}

button{
background:#ff9800;
border:none;
padding:12px 20px;
color:white;
cursor:pointer;
border-radius: 10px;
}

input {
    border-radius: 10px;
    border-color:#b1b1b1;
}

button:hover{
background:#e68900;
color:rgb(230, 230, 230);
}

.propuesta{
width:400px;
margin:auto;
margin-top:40px;
display:flex;
flex-direction:column;
}
.section_mejores_propuestas{
    width:800px;
    margin:auto;
    margin-top:40px;
    text-align: center;
}

.mejores_propuestas{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.propuesta_card{
    border: 1px #13657f61 solid;
    padding: 2%;
    border-radius: 10px;
    background:linear-gradient(180deg, rgb(40 169 201),#6dd5ed);;
}

#formPropuesta{
    display: flex;
    flex-direction: column;
}

#mensaje{
    align-self:center;
    color: #656565;
    font-style: oblique;
}

input{
padding:10px;
margin-bottom:10px;
}

footer{
text-align:center;
margin-top:50px;
padding:20px;
background:#003366;
color:white;
}